/*****************************************************
 * Magic Mirror                                      *
 * Custom CSS                                        *
 *                                                   *
 * By Michael Teeuw http://michaelteeuw.nl           *
 * MIT Licensed.                                     *
 *                                                   *
 * Add any custom CSS below.                         *
 * Changes to this files will be ignored by GIT. *
 *****************************************************/

body {
  color: #FFF;
}

.bg-image {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: url('bg.png') no-repeat center bottom;
  background-size: 100%;
  opacity: .1;
}

/** Date/Time **/
.module-content .date {
  margin-bottom: 20px;
}
.module-content .time span {
  margin-left: 5px;
}

/** Current Weather **/
.currentweather .module-content {
  margin-bottom: 20px;
}
.currentweather .module-content .medium {
  margin-bottom: 20px;
}

/** Weather Forecast **/
.module-content .weatherforecast {

}
